.profile-dropdown-container {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .profile-info {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 16px;
    gap: 10px;
    margin-bottom: 15px;
    padding: 5px 0;
  }
.profile-img-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border:#c5c5c5 solid 1px;
}

.profile-img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.email {
    font-size: 12px;
    color: gray;
    margin-bottom: 15px;
    white-space: wrap;
  }

  .profile-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;  }

  button {
    margin-top: auto;
    white-space: nowrap;
  }
}